/*Responsive web site*/

@media only screen and (max-width: 11164px) {
	.wrapper {
		width: 90%;
	}
}

@media only screen and (max-width: 830px) {
	body {
		font-size: 90%;
	}
}

@media only screen and (max-width: 720px) {
	.col-1, .col-2 {
	   width: 100%;
	   margin-left: 0;
	   float: none;  
	 }

	 .border-right {
	   border: 0;
	 }

	 #details div {
	   padding-bottom: 5px;
	 }

	 #logo-bar {
	 	margin-top: 20px;
	 	max-height: 40px;
	 }

	#menu-links {
	  display: none;
	  background: white;
	  clear: both;
	}

	 #navbar nav a.menu-icon {
	   display: inline-block;
	   float: right;
	   font-size: 150%;
	   padding: 10px 20px;
	   width: auto;
	 }
} 

@media only screen and (max-width: 640px) {
	body {
		font-size: 50%;
	}

	#logo-bar h1 {
		visibility: hidden;
	}

	#logo-bar h2 {
		visibility: hidden;
	}

}
