@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);


body {
    font: 100% Garamond, serif;
}

#logo {
    float: left;
    /*margin: 6px 0 0 5px*/;
}

#logo-bar {
    float: left;
    width: 80%;
    z-index: 1;
    background: black;
    color: white;
    padding: 0 10px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#navbar nav {
    border-left: 1px solid #ccc;
}

#navbar nav a {
    display: inline-block;
        width: 16.6666667%;
        margin: 0;
        padding: 22px 0;
        text-transform: uppercase;
        color: black;
        text-align: center;
        border-right: 1px solid #ccc;
        text-decoration: none;
        font: 1em "Carrois Gothic SC", sans-serif;
}

.selected {
	color: black;
    font-weight: bold;
}

header {
    border-left: 1px solid #ccc;
}

section {
	/*padding-top: 200px*/;
}

/*/// MEDIA ///*/

figcaption {
    font: 0.75em Garamond, serif;
    text-align: right;
    color: #ccc;
}

/*img, video, audio {
	width: 100%;
}*/

h1 {
	font: 3em "Carrois Gothic SC", sans-serif;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	font: 0.75em Garamond, serif;
	border-top: 1px solid #ccc;
    margin: 20px 0 30px 0;
}

/*/// LAYOUT ///*/

.wrapper {
	width: 80%;
    margin: 0px auto;
}



/*/// BACKGROUND ///*/


