@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

/*/////  GLOBAL  ////*/


body {
  font: 100% Garamond, serif;
}

h1 {
  font: 2em "Carrois Gothic SC", sans-serif;
  margin-bottom: 10px;
}

h2 {
  font: 1.5em "Carrois Gothic SC", sans-serif;
  margin-bottom: 20px;;
}

#logo {
  display: inline;
  float: right;
  margin: 10px 0 0;
  z-index: 2;
}

#logo-bar {
  width: 100%;
  background: black;
  color: white;
  margin: 10px 0 0;
  padding: 5px 20px; 
}

#navbar {
  width: 100%;
  /*border-bottom: 1px solid #ccc;*/
  text-align: center;
  clear: both;
}

#navbar nav {
    margin-bottom: 20px;
}

#navbar nav a {
  display: inline-block;
  width: 20%;
  margin: 5px 0 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  text-decoration: none;
  font: 1em "Carrois Gothic SC", sans-serif;
}

#navbar nav a.selected {
	background: black;
  color: white;
  font-weight: bold;
}

label {
  font-size: 1.15em;
}

input {
  display: block;
  width: 75%;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #ccc;
}

textarea {
  display: block;
  width: 75%;
  height: 180px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #ccc;
}

input[type="submit"] {
  margin-top: 20px;
  width: 100px;
  background: black;
  color: white;
  border-radius: 25px;
  border: 0;
}

input[type="submit"]:hover {
  background: #555;
}

header {
  margin-top: 30px;
}

.main {
    overflow:hidden;
    width:350px;
    background: url("images/select-arrow.png") no-repeat #fff 319px 2px;
    /* dropdown_arrow.png is a 31x28 image */
}
select {
    background:transparent;
    height:32px;
    width: 175px;
    box-shadow: 0 3px 5px #ccc;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-bottom: 5px;
    -webkit-appearance: none;
}




/*/// MEDIA ///*/

figcaption {
  font: 0.75em Garamond, serif;
  text-align: right;
  color: #ccc;
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/*/// LAYOUT ///*/

.wrapper {
	width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0;
}


/*//// FIXES ////*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear:both;
}

/*//// MAIN SECTIONS ////*/
section {
  
}


/*/// BACKGROUND ///*/

.light-fade {
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(24%,#ffffff), color-stop(68%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

/* //// FOOTER ////*/

footer {
  text-align: center;
  font: 0.85em Garamond, serif;
  border-top: 1px solid #ccc;
  margin: 20px 0 30px 0;
  padding-top: 10px;
}
















